body {
  background-color: #2c2c2c;
  max-width: 960px;
  margin: 200px auto;
  display: flex;
  justify-content: space-around;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: #117864;
  border-radius: 50%;
  animation: spinner 1.8s linear infinite;
}

.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: #117864;
  animation: spinner 1.8s linear infinite;
}

.spinner div:nth-child(3) {
  border: 8px solid transparent;
  border-left-color: #1abc9c;
  animation: spinner 1.8s linear infinite;
}

.spinner div:nth-child(4) {
  border: 8px solid transparent;
  border-right-color: #1abc9c;
  animation: spinner 1.8s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
    border-width: 8px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 2px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 8px;
  }
}

.bouncers {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 150px;
  height: 100px;
}

.bouncers div {
  width: 20px;
  height: 20px;
  background-color: #fa7b03;
  border-radius: 50%;
  animation: bouncers 0.7s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
    alternate;
}

.bouncers div:nth-child(2) {
  animation-delay: 0.1s;
  background-color: #fa8f03;
}
.bouncers div:nth-child(3) {
  animation-delay: 0.2s;
  background-color: #faa403;
}
.bouncers div:nth-child(4) {
  animation-delay: 0.3s;
  background-color: #fab903;
}
.bouncers div:nth-child(5) {
  animation-delay: 0.4s;
  background-color: #facd03;
}
.bouncers div:nth-child(6) {
  animation-delay: 0.5s;
  background-color: #fae203;
}

@keyframes bouncers {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
